<h1>POSTS</h1>

<ul>
<%@questions.each do |question|%>
<li><%= link_to question.title, question %></li>
<div>by: <%= question.user.username %> | on: <%= question.created_at.to_s[0..10] %> | upvotes: <%= question.upvote.count %>
  <%= form_for [question, Upvote.new] do |f| %>
    <%= f.submit "Upvote" %>
  <% end %> </div> <br>
<% end %>
</ul>

<%= button_to "Make a post", :new_question, method: :get %>
