<h5><%= link_to "Questions", :questions %></h5>

<h1>SPECIFIC QUESTION</h1>

<p><%= @question.title %></p>
<p><%= @question.description %></p>
<p>by: <%= @question.user.username %> on: <%= @question.created_at.to_s[0..10]%></p>

<% if session[:user_id] == @question.user_id %>
  <div>
    <%= button_to "Edit", :edit_question, method: 'get' %>
    <%= button_to "Delete", :question, method: 'delete' %>
  </div>
<% end %>

<h3>Answers:</h3>
<%@answers.each do |answer|%>
  <p><%= answer.description %></p>
  <p>upvotes: <%= answer.upvote.count %>
  <%= form_for [answer, Upvote.new] do |f| %>
    <%= f.submit "Upvote" %>
  <% end %>


  </p>
<% end %>

<h3>Submit an answer:</h3>
<%= form_for [@question, @answer] do |f|%>
  <%= f.text_area :description %><br>
  <%= f.submit %>
<% end %>
