<h5><%= link_to "Back to The Front Page", :posts %></h5>

<h1>USER ACCOUNT PAGE</h1>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <form action="/users/<%= params[:id] %>" method="get">
      <div class="btn-group btn-group-lg">
      <button name="sort" type="submit" class="btn btn-default" value="votes">
        <span class="glyphicon glyphicon-bullhorn"></span> votes </button>
      <button name="sort" type="submit" class="btn btn-default" value="date">
        <span class="glyphicon glyphicon-time"></span> date </button>
      </div>
    </form>
  </div>
</div>

<h3>Post History</h3>

<% @posts.each do |post| %>
  <p>
    <% if post.url? %>
      <a href= "<%= post.url %>" >
        <%= post.title %>
      </a>
    <% else %>
      <a href= "posts/<%=post.id%>">
        <%= post.title %>
      </a>
    <% end %> |
    <%= post.created_at.to_s[0..10] %> |
    <a href="posts/<%=post.id%>" class="post-info-link">
      <%= post.comments.count %> comments
    </a>
    | upvotes <%= post.score %>
  </p>
<% end %>


