<div class="row">
  <br>
  <div class="col-md-4 col-md-offset-1">
    <form action="/posts" method="get">
      <div class="btn-group btn-group-lg">
        <button name="sort" type="submit" class="btn btn-default" value="hot">Hot</button>
        <button name="sort" type="submit" class="btn btn-default" value="votes">Popular</button>
        <button name="sort" type="submit" class="btn btn-default" value="date">New</button>
      </div>
    </form>
  </div>

  <div class="col-md-2 col-md-offset-4">
    <form action="/posts/new" method="new" class="new-post">
      <div class="btn-group btn-group-lg">
        <button type="submit" class="btn btn-default">Add a post</button>
      </div>
    </form>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <hr class="style-four">
  </div>
</div>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <div class="col-md-1">
        <span class="post-image">
          <%= image_tag post.image_url,
            size: '60x60' if post.image? %>
          <%= image_tag "default_no_image_for_post.png",
            size: '60x60' if !post.image? && post.url &&
            !post.url.match(/jpg|tif|gif|png/i) %>
          <%= image_tag "default_no_image_for_post.png",
            size: '60x60' if !post.image? && !post.url? %>
          <%= image_tag post.url,
            size: '60x60' if post.url? &&
            post.url.match(/jpg|tif|gif|png/i) %>
        </span>
      </div>

      <div class="col-md-7 col-md-offset-1", style="padding-left: 0px;">
        <p class="post-title">
          <% if post.url? %>
            <a href= "<%= post.url %>", style="color:#000000;" >
              <%= post.title[0..40] %> <% if post.title.length > 40 %>... <% end %>
            </a>
          <% else %>
            <a href= "posts/<%=post.id%>", style="color:#000000;">
              <%= post.title[0..40] %> <% if post.title.length > 40 %>... <% end %>
            </a>
          <% end %>
        </p>

        <br>
        <br>

        <p class="post-info"> by:
          <a href="/users/<%= post.user.id %>">
            <%= post.user.username %> </a>
            | <%= time_ago_in_words(post.created_at) %> ago |
          <a href="posts/<%=post.id%>" class="post-info-link">
            <%= post.comments.count %> comments </a>
            | votes: <%= post.score %>
        </p>
      </div>

      <div class="col-md-3">
        <ul class="nav navbar-nav">
          <li><%= link_to "",
            post_votes_path(post, value: 1, votable_id: post.id, votable_type: post.class),
            method: :new, class: "fa fa-thumbs-o-up fa-2x", style: "color:#000000;" %>
          </li>

          <li><%= link_to "",
            post_votes_path(post, value: -1, votable_id: post.id, votable_type: post.class),
            method: :new, class: "fa fa-thumbs-o-down fa-2x", style: "color:#000000;" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <hr class="style-eight">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p id="paging">
      <%= paginate @posts, theme: 'twitter-bootstrap-3', id: "paging-buttons" %>
    </p>
  </div>
</div>


