<h1>POSTS</h1>

<div>
  Sort by:
  <%= button_to "Upvotes", :posts, method: 'get', params: {sort: 'upvotes'} %>
  <%= button_to "Date", :posts, method: 'get', params: {sort: 'date'} %>
</div>

<% @posts.each do |post| %>
  <div>
    <%= image_tag post.image_url.to_s, size: '50x50' if post.image? %>
    <%= image_tag "default_no_image_for_post.png", size: '50x50' if !post.image? %> |
    <%= link_to post.title, post %>
  </div>
  <div>
    by: <%= post.user.username %> |
    on: <%= post.created_at.to_s[0..10] %> |
    upvotes: <%= post.upvote.count %>
    <%= form_for [post, Upvote.new] do |f| %>
      <%= f.submit "Upvote" %>
    <% end %>
    <br>
  </div>
<% end %>

<%= button_to "Make a post", :new_post, method: :get %>
