<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active content-tabs"><a href="#show-all" role="tab" data-toggle="tab">all</a></li>
      <li class="content-tabs"><a href="#show-feed" role="tab" data-toggle="tab">feed</a></li>
      <li class="content-tabs"><a href="#show-sumbitted" role="tab" data-toggle="tab">submitted</a></li>
    </ul>
  </div>
</div>

<br>

<div class="tab-content">
  <div class="tab-pane" id="show-feed">
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <ul class="nav navbar-nav">
          <li><%= button_to "Hot", :posts, method: 'get', params: {sort: 'hot'} %></li>
          <li><%= button_to "Popular", :posts, method: 'get', params: {sort: 'votes'} %></li>
          <li><%= button_to "New", :posts, method: 'get', params: {sort: 'date'} %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-2">
        <h3>coming soon</h3>
      </div>
    </div>
  </div>

  <div class="tab-pane active" id="show-all">
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <ul class="nav navbar-nav">
          <li><%= button_to "Hot", :posts, method: 'get', params: {sort: 'hot'} %></li>
          <li><%= button_to "Popular", :posts, method: 'get', params: {sort: 'votes'} %></li>
          <li><%= button_to "New", :posts, method: 'get', params: {sort: 'date'} %></li>
        </ul>
      </div>
    </div>

    <br>

    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          <span class="post-image">
            <%= image_tag post.image_url, size: '60x60' if post.image? %>
            <%= image_tag "default_no_image_for_post.png", size: '60x60' if !post.image? %>
          </span>
        </div>

        <div class="col-md-6 col-md-offset-1", style="padding-left: 0px;">
          <p class="post-title">
            <% if post.url? %>
              <a href= "<%= post.url %>" >
                <%= post.title %>
              </a>
            <% else %>
              <a href= "posts/<%=post.id%>">
                <%= post.title %>
              </a>
            <% end %>
          </p>


          <p class="post-info">
            by:
            <a href="/users/<%= post.user.id %>">
              <%= post.user.username %>
            </a>
              | <%= time_ago_in_words(post.created_at) %> ago |
            <a href="posts/<%=post.id%>" class="post-info-link">
              <%= post.comments.count %> comments
            </a>
              | votes: <%= post.score %>
          </p>
        </div>

        <div class="col-md-1 col-md-offset-1">
          <%= button_to "Upvote", post_votes_path(post), params: { value: 1, votable_id: post.id, votable_type: post.class } %>

          <%= button_to "Downvote", post_votes_path(post), params: { value: -1, votable_id: post.id, votable_type: post.class } %>
        </div>
      </div>
      <br>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
    </div>
    <div class="col-md-4 col-md-offset-5">
      <p class="paging"><%= paginate @posts %></p>
    </div>
  </div>
</div>

