<div id="sort">
  <div id="sort-contents">
  <p>Sort by:</p>
    <div id="first-sort-button">
      <%= button_to "Upvotes", :posts, method: 'get', params: {sort: 'upvotes'} %>
    </div>
    <div class="sort-buttons">
      <%= button_to "Date", :posts, method: 'get', params: {sort: 'date'} %>
    </div>
  </div>
</div>

<div id="create-post">
  <div id="create-post-contents">
  <p>Create a post:</p>
    <div class="post-buttons">
      <%= button_to "Make a post", :new_post, method: :get %>
    </div>
  </div>
</div>

<div class="posts-container">
  <br>
  <% @posts.each do |post| %>
    <div class="thumbnail">
      <%= image_tag post.image_url.to_s, size: '50x50' if post.image? %>
      <%= image_tag "default_no_image_for_post.png", size: '50x50' if !post.image? %>
    </div>
    <div class="post-titles">
      <p> | <%= link_to post.title, post %></p>
      <p class="tiny">
        by: <%= post.user.username %> |
        on: <%= post.created_at.to_s[0..10] %> |
        upvotes: <%= post.upvote.count %>
      </p>
    </div>
    <div class="upvote-button">
      <%= form_for [post, Upvote.new] do |f| %>
        <%= f.submit "Upvote" %>
      <% end %>
    </div>
    <br>
    <hr>
  <% end %>
</div>

<div id="paging">
    <span id="paging-contents"><%= paginate @posts %></span>
</div>
