<div class="container">
  <ul class="nav navbar-nav">
    <li>
      <%= button_to "Upvotes", :posts, method: 'get', params: {sort: 'upvotes'} %>
    </li>
    <li>
      <%= button_to "Date", :posts, method: 'get', params: {sort: 'date'} %>
    </li>
  </ul>

  <br>
  <br>
  <br>

  <% @posts.each do |post| %>
    <div class="row">
      <span class="post-image">
        <%= image_tag post.image_url, size: '50x50' if post.image? %>
        <%= image_tag "default_no_image_for_post.png", size: '90x90' if !post.image? %>
      </span>

      <p class="post-title">
        <a href="posts/<%=post.id%>"> |>
          <%= post.title %>
        </a>
      </p>

      <br>
      <br>

      <p class="post-info">
        by: <%= post.user.username %> |
        on: <%= time_ago_in_words(post.created_at) %> |
        votes: <%= post.score %>
      </p>

      <%= button_to "Upvote", post_votes_path(post), params: { value: 1, votable_id: post.id, votable_type: post.class } %>

      <%= button_to "Downvote", post_votes_path(post), params: { value: -1, votable_id: post.id, votable_type: post.class } %>

    </div>
    <br>
  <% end %>
</div>
<br>
<div id="paging-contents">--<%= paginate @posts %>--</div>

