<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <form action="/posts" method="get">
      <ul class="nav nav-pills">
        <li><button name="sort" type="submit" class="btn btn-default btn-lg" value="hot">
          <span class="glyphicon glyphicon-fire"></span> Hot </button> </li>
        <li><button name="sort" type="submit" class="btn btn-default btn-lg" value="votes">
          <span class="glyphicon glyphicon-bullhorn"></span> Popular</button> </li>
        <li><button name="sort" type="submit" class="btn btn-default btn-lg" value="date">
          <span class="glyphicon glyphicon-time"></span> New </button> </li>
      </ul>
    </form>
  </div>

  <div class="col-md-2 col-md-offset-2">
    <form action="/posts/new" method="new" class="new-post">
      <div class="btn-group btn-group-md" id="create-post-button">
        <button type="submit" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-upload"></span> Add a post
        </button>
      </div>
    </form>
  </div>

  <div class="col-md-9 col-md-offset-1">
    <hr class="style-four">
  </div>
</div>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-1">
        <span class="post-image">
          <%= image_tag post.image_url,
            size: '60x60' if post.image? %>
          <%= image_tag post.avatar,
            size: '60x60' if post.avatar? %>
          <%= image_tag "default_no_image_for_post.png",
            size: '60x60' if !post.image? && post.url &&
            !post.url.match(/jpg|tif|png/i) && !post.avatar? %>
          <%= image_tag "default_no_image_for_post.png",
            size: '60x60' if !post.image? && !post.url? %>
          <%= image_tag post.url,
            size: '60x60' if post.url? &&
            post.url.match(/jpg|tif|png/i) %>
        </span>
      </div>

      <div class="col-md-8">
        <p class="post-title">
          <% if post.url? %>
            <a href= "<%= post.url %>", style="color:#585858;" >
              <% if post.title.length > 60 %>
                <%= post.title[0..59] + "..." %>
              <% else %>
                <%= post.title %>
              <% end %>
            </a>
            <span class="glyphicon glyphicon-share"></span>
          <% else %>
            <a href= "posts/<%=post.id%>", style="color:#585858;">
              <% if post.title.length > 60 %>
                <%= post.title[0..59] + "..." %>
              <% else %>
                <%= post.title %>
              <% end %>
            </a>
          <% end %>
        </p>

        <p class="post-info"> by:
          <a href="/users/<%= post.user.id %>">
            anonymous </a>
            | <%= time_ago_in_words(post.created_at) %> ago |
          <a href="posts/<%=post.id%>" class="post-info-link">
            <%= post.comments.count %> comments </a>
            | votes: <%= post.score %>
        </p>
      </div>

      <div class="col-md-3" id="voting-div">
        <ul class="nav navbar-nav">
          <li><%= link_to "",
            post_votes_path(post, value: 1, votable_id: post.id, votable_type: post.class), method: :post, class: "fa fa-thumbs-o-up fa-2x", id: "upvote",
            style: "color:#666699;" %>
          </li>

          <li><%= link_to "",
            post_votes_path(post, value: -1, votable_id: post.id, votable_type: post.class),
            method: :post, class: "fa fa-thumbs-o-down fa-2x", id: "downvote",
            style: "color:#666699;" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
<% end %>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <hr class="style-four">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <p id="paging">
      <%= paginate @posts, theme: 'twitter-bootstrap-3' %>
    </p>
  </div>
</div>


