<div class="row">
<div class="col-md-10 col-md-offset-1">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" id="form-selectors">
      <a href="#text" role="tab" data-toggle="tab"
         class="post-info-show" style="font-size: 20px;">text</a></li>
    <li id="form-selectors">
      <a href="#link" role="tab" data-toggle="tab"
         class="post-info-show" style="font-size: 20px;">link</a></li>
    <li id="form-selectors">
      <a href="#photo" role="tab" data-toggle="tab"
         class="post-info-show" style="font-size: 20px;">photo</a></li>
  </ul>
</div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h3 class="post-info-show" style="font-size: 30px;">Add a post:</h3>
  </div>
</div>

<br>

<div class="tab-content">
  <div class="tab-pane active" id="text">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <%= bootstrap_form_for @post do |f|%>
          <%= f.text_field :title, id: "text-title" %><br>
          <%= f.text_area :description, id: "text-description" %><br>
          <%= f.submit "Create a Post", class: "btn btn-default btn-lg",
              id: "text-submit-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="link">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <%= bootstrap_form_for @post do |f|%>
          <%= f.text_field :title, id: "link-title" %><br>
          <%= f.text_field :url %><br>
          <%= f.submit "Create a Post", class: "btn btn-default btn-lg",
              id: "link-submit-btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="photo">
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <%= bootstrap_form_for @post, :html => {multipart: true} do |f|%>
          <%= f.text_field :title, id: "photo-title" %><br>
          <%= f.text_area :description, id: "photo-description" %><br>
          <%= f.file_field :image %><br>
          <%= f.submit "Create a Post", class: "btn btn-default btn-lg", id: "photo-submit-btn"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>

