<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <p class="post-title-show"><%= @post.title %></p>
    <br>
    <%= image_tag @post.image_url, size: '300x300' if @post.image? %>
    <br>
    <br>
  </div>
  <% if @post.description? %>
  <div class="col-md-6 col-md-offset-1"
       style="background-color:#FCF8E3; border-radius:10px;">
    <p class="post-info-show" style="font-size: 18px;"><%= @post.description %></p>
  </div>
  <% end %>
  <div class="col-md-6 col-md-offset-1">
    <p class="post-info-show">by:
      <a href="/users/<%= @post.user.id %>">
        <%= @post.user.username %>
      </a>
      | <%= time_ago_in_words(@post.created_at) %> ago
      | votes: <%= @post.score %>
    </p>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <ul class="nav nav-pills">
      <li>
      <form action="/posts">
        <button class="btn btn-default btn-lg">
          <span class="fa fa-reply-all"></span> Front Page
        </button>
      </form>
      </li>
      <% if session[:user_id] == @post.user_id %>
        <li>
          <%= button_to 'Edit', :edit_post, method: 'get', class: "btn btn-default btn-lg" %>
        </li>
        <li>
          <%= button_to 'Delete', :post, method: 'delete', class: "btn btn-default btn-lg" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<hr class="style-four">

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h3 class="post-info-show" style="font-size:30px;">Comments:</h3>
  </div>
</div>

<% @comments.each do |comment| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-1" style="background-color:#FCF8E3; border-radius:10px;">
      <p class="post-info-show" style="font-size: 18px;"><%= comment.description %></p>
    </div>
    <div class="col-md-3">
      <ul class="nav navbar-nav">
        <li><%= link_to "",
          comment_votes_path(comment, value: 1, votable_id: comment.id, votable_type: comment.class), method: :post, class: "fa fa-thumbs-o-up fa-2x", id: "upvote" %>
        </li>

        <li><%= link_to "",
          comment_votes_path(comment, value: -1, votable_id: comment.id, votable_type: comment.class), method: :post, class: "fa fa-thumbs-o-down fa-2x", id: "downvote" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <p class="comment-info-show">by:
        <a href="/users/<%= comment.user.id %>">
          <%= comment.user.username %>
        </a>
        | <%= time_ago_in_words(comment.created_at) %> ago
        | votes: <%= comment.score %>
      </p>
    </div>
  </div>
  <br>
<% end %>

<hr class="style-four">

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h3 class="post-info-show" style="font-size:30px;">Comment on this post:</h3>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :description, rows: 4, cols: 50 %>
      <br>
      <%= f.submit 'Comment', class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
</div>
<br>
<br>
