<!DOCTYPE html>
<html>
<head>
  <title>BARNETTIT</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default" role="navigation" style="background-color:#454545;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="barnettit" href="/" style="color:#FF9900;">~barnettit</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li id="user-portrait"><%= image_tag "user_default_thumb.png", size: '60x55'%></li>
        <li id="username"><%= link_to current_user.username, user_path(session[:user_id]) %></li>
        <p id = "signout"><a href = "/signout" id="signout-link">(signout)</a></p>
      <% else %>
        <a class="btn btn-block btn-social btn-facebook", id="login-button",
        href = "/auth/facebook">
          <i class="fa fa-facebook fa-lg"></i> Sign in with Facebook
        </a>
        <a class="btn btn-block btn-social btn-twitter", id="login-button",
        href = "/auth/twitter">
          <i class="fa fa-twitter"></i> Sign in with Twitter
        </a>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <% if flash.any? %>
    <div class="col-md-3 col-md-offset-5">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

<footer class="footer sticky-footer" role="contentinfo" style="background-color:#454545;">
  <div class="container">
    <div class="row">
      <div class="footer-section col-md-4">
        <br>
        <p><a href="/">My Account</a></p>
        <p><a href="/posts/new">Post</a></p>
        <p><a href="/">Blog</a></p>
      </div>

      <div class="footer-section col-sm-6 col-sm-offset-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="logo"><a href="https://github.com/c13iscuit">
            <%= image_tag "default_no_image_for_post.png", size: '60x60' %></a></li>
          <li class="logo"><a href="http://www.launchacademy.com/">
            <%= image_tag "LA_logo.jpg", size: '60x60' %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</footer>

</body>
</html>
