<!DOCTYPE html>
<html>
<head>
  <title>BARNETTIT</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default" role="navigation" style="background-color:#454545;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <a class="barnettit" href="/">~barnettit</a>
      </div>
      <div class="col-md-4 col-md-offset-3">
        <ul class="nav navbar-nav">
          <% if current_user %>
            <li id="user-portrait">
            <%= image_tag "user_default_thumb.png", size: '90x90'%></li>
            <li><%= link_to current_user.username,
              user_path(session[:user_id]), id: "username" %></li>
            <p id = "signout"><a href = "/signout" id="signout-link">(signout)</a></p>
          <% else %>
            <a class="btn btn-block btn-social btn-facebook",
              id="login-button", href = "/auth/facebook">
              <i class="fa fa-facebook fa-lg"></i> Sign in with Facebook
            </a>
            <a class="btn btn-block btn-social btn-twitter",
              id="login-button", href = "/auth/twitter">
              <i class="fa fa-twitter"></i> Sign in with Twitter
            </a>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if flash.any? %>
  <div class="col-md-12">
    <div class="alert alert-warning" role="alert">
      <p style="text-align:center;"><%= flash[:notice] %></p>
    </div>
  </div>
<%end%>

<div class="container" style="background-color:#F0FFFF;">
  <%= yield %>
</div>

<footer class="footer sticky-footer" style="background-color:#454545;">
  <div class="container">
    <div class="row">
      <div class="footer-section col-md-4">
        <br>
        <p><a href="/">My Account</a></p>
        <p><a href="/posts/new">Post</a></p>
        <p><a href="/">Blog</a></p>
      </div>

      <div class="footer-section col-sm-6 col-sm-offset-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="logo"><a href="https://github.com/c13iscuit">
            <%= image_tag "default_no_image_for_post.png", size: '60x60' %></a></li>
          <li class="logo"><a href="http://www.launchacademy.com/">
            <%= image_tag "LA_logo.jpg", size: '60x60' %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
</footer>

</body>
</html>
