<!DOCTYPE html>
<html>
<head>
  <title>BARNETTIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">barnettit</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create a post!<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/posts/new">text</a></li>
            <li><a href="/posts/new">image</a></li>
            <li><a href="/posts/new">link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li id="user-portrait"><%= image_tag "user_default_thumb.png", size: '50x50'%></li>
          <li id="username"><%= link_to current_user.username, user_path(session[:user_id]) %></li>
          <p id = "signout"><a href = "/signout" id="signout-link">(signout)</a></p>
        <% else %>
          <li>Sign in with:</li>
          <li id="fb"><a href = "/auth/facebook"><img src="http://www.wallstreet.org/wp-content/uploads/2013/10/facebook.png" width="30"></a></li>
          <li id = "twitter"><a href = "/auth/twitter"><img src="http://jonbennallick.co.uk/wp-content/uploads/2012/11/Twitter-Logo-Icon-by-Jon-Bennallick-02.png" width="30"></a></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>

<div id = "notices-container">
  <% if flash.any? %>
    <div id = "notice-text">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
